<div class="page-header">
    <center><h1>Dev Page: {{obj.name}}</h1></center>
</div>


<accordion>
    <accordion-group is-open="false">
    <accordion-heading>
    <center>QRCODE Information</center>
</accordion-heading>
<center><img ng-src="https://api.qrserver.com/v1/create-qr-code/?data={{ip}}/services/{{obj.name | lowercase}}" alt="QRCODE"></center>
<center>
    <span class="glyphicon glyphicon-link"><a href="http://{{ip}}/#/rendered/{{obj._id}}">Visit Rendered URL</a></span></center>
    <br>
    <center>
        <input class="btn btn-default" type=button name="cmdPrint" value="Print" onClick="window.print()"></input>
    </center>
</accordion-group>
</accordion>

<br></br>

<div>

    <tabset justified="true" type="pills">
        <tab heading="Information générales">

            <br>

            <div class="panel panel-default">
                <br>
                <p class="lead"><strong>Description</strong></p>
                <p>{{obj.description}}</p>

            </div>
        </tab>
        <tab heading="Specifications">

            <br>

            <div class="panel panel-default">

                <table class="table table-hover">
                    <colgroup>
                    <col class="col-md-2"></col>
                    <col class="col-md-8"></col>
                    <col class="col-md-2"></col>
                </colgroup>


                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="spec in obj.specs | orderBy: 'name'">
                        <td>{{spec.name}}</td>
                        <td>
                            <img ng-src="{{spec.value}}" ng-show="{{spec.isImg}}"  alt="{{spec.name}}" height="100" width="100">
                            <span ng-hide="{{spec.isImg}}">{{spec.value}}</span>
                        </td>
                        <td>
                            <button class="btn btn-primary disabled">Edit</button>
                            <button class="btn btn-primary disabled">Delete</button>
                        </td>
                    </tr>
                    <tr ng-hide="((!data.name || data.name=='') && (!data.value || data.value==''))" class="info">
                        <td>{{data.name}}</td>
                        <td>
                            <img ng-show="isImg" ng-src="{{data.value}}" alt="{{data.name}}" height="100" width="100">
                            <span ng-hide="isImg">{{data.value}}</span>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="jumbotron">

            <form ng-submit="addSpec()">
                <h3>Add new specification</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder='Name' ng-model="data.name"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder='Value (or Url of image)' ng-model="data.value"></input>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="data.isImg"> Is it an Img? </input>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create/Edit</button>
                    <button type="reset" class="btn btn-primary disabled">Reset</button>
                </div>

            </form>
        </div>

    </tab>
    <tab heading="Statistiques en temps réel">

        <br>

        <div class="panel panel-default">

            <table class="table table-hover">
                <colgroup>
                <col class="col-md-2"></col>
                <col class="col-md-2"></col>
                <col class="col-md-4"></col>
                <col class="col-md-1"></col>
                <col class="col-md-1"></col>
                <col class="col-md-2"></col>

            </colgroup>


            <thead>
                <tr>
                    <th>Name</th>
                    <th>Range</th>
                    <th>API Url</th>
                    <th>Field Returned</th>
                    <th>Unit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stat in obj.stats | orderBy: 'name'">
                    <td>{{stat.name}}</td>
                    <td>
                        {{stat.val_min}} - {{stat.val_max}}
                    </td>
                    <td>
                        {{stat.url_interaction}}
                    </td>
                    <td>
                        {{stat.field}}
                    </td>
                    <td>
                        {{stat.unit}}
                    </td>
                    <td>
                        <button class="btn btn-primary disabled">Edit</button>
                        <button class="btn btn-primary disabled">Delete</button>
                    </td>
                </tr>
                <tr ng-hide="((!data.name || data.name=='') && (!data.value || data.value==''))" class="info">
                    <td>{{data.name}}</td>
                    <td>
                        {{data.val_min}} - {{data.val_max}}
                    </td>
                    <td>
                        {{data.url_interaction}}
                    </td>
                    <td>
                        {{data.field}}
                    </td>
                    <td>
                        {{data.unit}}
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

    <div class="jumbotron">


        <form ng-submit="addStat()">
            <h3>Add new real time statistic</h3>
            <p>This will be rendered as a status bar</p>

            <div class="form-group">
                <input type="text" class="form-control" placeholder='Name' ng-model="data.name"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder='Minimum Value' ng-model="data.val_min"></input>
                <input type="text" class="form-control" placeholder='Maximum Value' ng-model="data.val_max"></input>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder='API Url' ng-model="data.url_interaction"></input>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder='Target Field (in Retuurned JSON)' ng-model="data.field"></input>
                <input type="text" class="form-control" placeholder='Unit of measure' ng-model="data.unit"></input>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create/Edit</button>
                <button type="reset" class="btn btn-primary disabled">Reset</button>
            </div>

        </form>
    </div>




</tab>
<tab heading="Interactions">


    <br>

    <div class="panel panel-default">

        <table class="table table-hover">
            <colgroup>
            <col class="col-md-2"></col>
            <col class="col-md-1"></col>
            <col class="col-md-1"></col>
            <col class="col-md-4"></col>
            <col class="col-md-1"></col>
            <col class="col-md-1"></col>
            <col class="col-md-2"></col>

        </colgroup>


        <thead>
            <tr>
                <th>Name</th>
                <th>Range</th>
                <th>Step</th>
                <th>API Url</th>
                <th>Field to attack</th>
                <th>Unit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="action in obj.actions | orderBy: 'name'">
                <td>{{action.name}}</td>
                <td>
                    {{action.val_min}} - {{action.val_max}}
                </td>
                <td>{{action.step}}</td>
                <td>
                    {{action.url_interaction}}
                </td>
                <td>
                    {{action.field}}
                </td>
                <td>
                    {{action.unit}}
                </td>
                <td>
                    <button class="btn btn-primary disabled">Edit</button>
                    <button class="btn btn-primary disabled">Delete</button>
                </td>
            </tr>
            <tr ng-hide="((!data.name || data.name=='') && (!data.value || data.value==''))" class="info">
                <td>{{data.name}}</td>
                <td>
                    {{data.val_min}} - {{data.val_max}}
                </td>
                <td>{{data.step}}</td>

                <td>
                    {{data.url_interaction}}
                </td>
                <td>
                    {{data.field}}
                </td>
                <td>
                    {{data.unit}}
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>


</div>

<div class="jumbotron">


    <form ng-submit="addAction()">
        <h3>Add new Interaction</h3>
        <p>This will be rendered as a slider bar  (mostly)</p>

        <div class="form-group">
            <input type="text" class="form-control" placeholder='Name' ng-model="data.name"></input>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder='Minimum Value' ng-model="data.val_min"></input>
            <input type="text" class="form-control" placeholder='Maximum Value' ng-model="data.val_max"></input>
            <input type="text" class="form-control" placeholder='Step' ng-model="data.step"></input>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder='API Url' ng-model="data.url_interaction"></input>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder='Target Field (in Retuurned JSON)' ng-model="data.field"></input>
            <input type="text" class="form-control" placeholder='Unit of measure' ng-model="data.unit"></input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create/Edit</button>
            <button type="reset" class="btn btn-primary disabled">Reset</button>
        </div>

    </form>
</div>

</tab>
<tab heading="Autres">

    <br>

    <div class="panel panel-default">

        <p ng-hide="(!obj.miscs.url || obj.miscs.url=='')">{{obj.miscs.url}}</p>

        <p ng-hide="(!data.url || data.url=='')">{{data.url}}</p>

    </div>

    <div ng-show="(!obj.miscs)" class="jumbotron">
        <form ng-submit="setMisc()">

            <div class="form-group">
                <input type="text" class="form-control" placeholder='External Url' ng-model="data.url"></input>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create/Edit</button>
                <button type="reset" class="btn btn-primary disabled">Reset</button>
            </div>
        </form>
    </div>

</tab>

</tabset>

</div>



<!--Specs-->



<!-- Form -->

